.menu {
    font-family: arial;
    font-size: 12px;
}
p {
    font-family: arial;
    font-size: 20px;
    border-radius: 12px;
    border-color: black;
    width: 50%;
}
.first_spot {
    font-family: arial;
    text-align: centered;
    padding: 12px 12px;
    width: 50%;
}
.second_spot {
    font-family: arial;
    text-align: centered;
    padding: 12px 12px;
    width: 50%;

}
.third_spot {
    font-family: arial;
    padding: 12px 12px;
    width: 50%
}

/*Input sizing---------*/
.form {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid black;
    margin: 2% auto;
    border-radius: 7px;
    background: white;
}
.form2 {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid black;
    margin: 2% auto;
    border-radius: 7px;
    background: white;
}